{% extends '_templates/base.njk' %}

{% block content %}
<div class="container">
  <p>Meow</p>
  <div class="row row-cols-1 row-cols-md-2 g-4">
  {% for landmark in landmarks.landmarks %}
  <div class="col">
    <div class="card h-100">
      <img src="img/{{ landmark.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h2>  <a href= {{ relative_path}} landmarks/{{ landmark.slug }}.html class="card-link"> {{ landmark.name }} </h2>
        <p> {{ landmark.established }} </p>
        <p> {{ landmark.activities }} <p>
      </div>
      <div class="card-footer">
        <a href= "{{ landmarks.url }}" class="card-link">Visit their website</a>
      </div>
    </div>
  </div>
{% endfor %}
 </div>
</div>
{% endblock %}