#jumbo {
  background: url(../img/austinmorn.jpg) no-repeat center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.893)
}

.captioncont {
  background-color: rgba(56, 81, 99, 0.48);
  align-content: center;
  max-width: 550px;
  margin: 0px auto;
}